<!-- footer -->
  <div class="footer">
    <div class="container">
      <div class="col-md-3 w3_footer_grid">
        <h3>Информация</h3>
        <ul class="w3_footer_grid_list">
          <li><a href="/business/index">Сотрудничество</a></li>
          <li><a href="/farmers/index">Фермеры</a></li>
          <li><a href="/job/index">Вакансии</a></li>
        </ul>
      </div>
      <div class="col-md-3 w3_footer_grid">
        <h3>мясоежка</h3>
        <ul class="w3_footer_grid_list">
          <li><a href="/about/index">О магазине</a></li>
          <li><a href="/documents">Сертификаты и документы</a></li>
          <li><a href="/service/index">Доставка</a></li>
        </ul>
      </div>
      <div class="col-md-3 w3_footer_grid">
        <h3><%=@contents[2].slave%></h3>
        <div class="w3_footer_grid_list">
        <%= @contents[2].description.html_safe %>
        </div>
      </div>
      <div class="col-md-3 w3_footer_grid">
        <h3>Часы работы</h3>
        <ul class="w3_footer_grid_list1">
          <% @contents[1].description.each_line do |line| %>
          <% days,hourly = line.split ';' %>
          <li><label class="fa fa-calendar" aria-hidden="true"></label><i><%=days%></i><span><%=hourly%></span></li>
          <%end%>
        </ul>
      </div>
      <div class="clearfix"> </div>
      <div class="agile_footer_grids">
        <div class="col-md-3 w3_footer_grid agile_footer_grids_w3_footer">
          <div class="w3_footer_grid_bottom">
            <h4>100% принимаются платежные системы</h4>
            <img src="/assets/card.png" alt=" " class="img-responsive" />
          </div>
        </div>
        <div class="col-md-3 w3_footer_grid agile_footer_grids_w3_footer">
          <div class="w3_footer_grid_bottom">
            <h5>ищите <strong>нас</strong></h5>
            <ul class="agileits_social_icons">
              <% @contents[3].description.each_line do |line| %>
              <% icon,link = line.split ';' %>
              <li><a href="<%=link%>"  target="_blank" class="<%=icon%>"><i class="fa fa-<%=icon%>" aria-hidden="true"></i></a></li>
              <%end%>
            </ul>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="wthree_footer_copy">
        <p>© «МЯСОЕЖКА» - Права защищены законом РФ. | Design by <a href="http://w3layouts.com/">W3layouts</a> | Разработано <i class="fa fa-heart"></i> <a href="#">ОткликПавэр</a></p>
      </div>
    </div>
  </div>
<!-- //footer -->