<% content_for :page_head do %>
      <section class="slider">
        <div class="flexslider">
          <ul class="slides">
            <% Slider.all.each_with_index do |slide,index| %>
            <li>
              <div class="w3l_banner_nav_right_banner<%= index==0?'':index%>" style="background:url(<%=slide.image.url%>) no-repeat 0px 0px;">
                <h3><%=slide.description.html_safe%></h3>
                <div class="more">
                  <% if slide.url != '' %>
                  <a href="<%=slide.url%>" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Перейти</a>
                  <% end unless slide.nil? %>
                </div>
              </div>
            </li>
            <%end%>
            <!--
            <li>
              <div class="w3l_banner_nav_right_banner2">
                <h3>upto <i>50%</i> off.</h3>
                <div class="more">
                  <a href="products.html" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Shop now</a>
                </div>
              </div>
            </li>
            -->
          </ul>
        </div>
      </section>
      <!-- flexSlider -->
        <script type="text/javascript">
        $(window).load(function(){
          $('.flexslider').flexslider({
          animation: "slide",
          start: function(slider){
            $('body').removeClass('loading');
          }
          });
        });
        </script>
      <!-- //flexSlider -->
<%end%>

<!-- ==================
- - - - КОНТЕНТ СТРАНИЦЫ
!! ================== -->
  <div class="banner_bottom mr_vitrina_container">

      <div class="wthree_banner_bottom_left_grid_sub">
      </div>
      <div class="wthree_banner_bottom_left_grid_sub1">
        <% @info_head_sort.sort.each do |key,meat| %>
        <div class="col-md-4 wthree_banner_bottom_left">
          <a href="/<%= meat.url %>/index" class="wthree_banner_bottom_left_grid w3l_banner_nav_right_banner3_btml">
            <div class="view view-tenth">
              <%= image_tag meat.image.url, alt: meat.title, class: 'img-responsive' %>
              <div class="mask">
                <h4><%= meat.title %></h4>
                <p><%= meat.slave %></p>
              </div>
            </div>
            <h4><%= meat.title %></h4>
            <%= meat.description.html_safe %>
          </a>
        </div>
        <%end%>
        <div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
  </div>
<!-- top-brands -->
  <div class="top-brands">
    <div class="container">
      <h3>Витрина</h3>
      <div class="row">
        <% @count = 0; @groups.each do |group| %>
        <%= @count>=6? (@count=0;'</div><div class="row mr_up_row">'.html_safe) : (@count+=1;'') %>
        <a class="col-md-2 about_counter_left" style="text-align: center" href="/groups/<%=group.id%>">
          <span><%=group.title%></span>
          <div style="display: inline-block;"><%= image_tag group.image.url, alt: group.title, class: 'img-responsive' if group.image_stored? %></div>
        </a>
        <%end%>
      </div>
    </div>
  </div>
<!-- //top-brands -->
<!-- fresh-vegetables -->
  <div class="fresh-vegetables">
    <div class="container">
      <h3>С нами удобно</h3>
      <div class="w3l_fresh_vegetables_grids">
        <!--
        <div class="col-md-3 w3l_fresh_vegetables_grid w3l_fresh_vegetables_grid_left">
          
          <div class="w3l_fresh_vegetables_grid2">
            <ul>
              <li><i class="fa fa-check" aria-hidden="true"></i><a href="products.html">All Brands</a></li>
              <li><i class="fa fa-check" aria-hidden="true"></i><a href="vegetables.html">Vegetables</a></li>
              <li><i class="fa fa-check" aria-hidden="true"></i><a href="vegetables.html">Fruits</a></li>
              <li><i class="fa fa-check" aria-hidden="true"></i><a href="drinks.html">Juices</a></li>
              <li><i class="fa fa-check" aria-hidden="true"></i><a href="pet.html">Pet Food</a></li>
              <li><i class="fa fa-check" aria-hidden="true"></i><a href="bread.html">Bread & Bakery</a></li>
              <li><i class="fa fa-check" aria-hidden="true"></i><a href="household.html">Cleaning</a></li>
              <li><i class="fa fa-check" aria-hidden="true"></i><a href="products.html">Spices</a></li>
              <li><i class="fa fa-check" aria-hidden="true"></i><a href="products.html">Dry Fruits</a></li>
              <li><i class="fa fa-check" aria-hidden="true"></i><a href="products.html">Dairy Products</a></li>
            </ul>
          </div>
        </div>
        -->
        <div class="col-md-12 w3l_fresh_vegetables_grid_right">
          <div class="col-md-4 w3l_fresh_vegetables_grid">
            <div class="w3l_fresh_vegetables_grid1">
              <%= image_tag @info_big.image.url, alt: @info_big.title, class: 'img-responsive' %>
            </div>
          </div>
          <div class="col-md-4 w3l_fresh_vegetables_grid">
            <div class="w3l_fresh_vegetables_grid1">
              <div class="w3l_fresh_vegetables_grid1_rel">
                <%= image_tag @info_small_1.image.url, alt: @info_small_1.title, class: 'img-responsive' %>
                <div class="mr_vegetables_grid1_bottom_pos">
                  <%= @info_small_1.description.html_safe %>
                </div>
                <div class="w3l_fresh_vegetables_grid1_rel_pos">
                  <div class="more m1">
                    <% if @goto1 %>
                    <a href="/groups/<%=@goto1.id%>?type=second" class="button--saqui button--round-l button--text-thick" data-text="Заправься">Заправься</a>
                    <%end%>
                  </div>
                </div>
              </div>
            </div>
            <div class="w3l_fresh_vegetables_grid1_bottom">
              <%= image_tag @info_small_2.image.url, alt: @info_small_2.title, class: 'img-responsive' %>
              <div class="w3l_fresh_vegetables_grid1_bottom_pos">
                <%= @info_small_2.description.html_safe %>
              </div>
            </div>
          </div>
          <div class="col-md-4 w3l_fresh_vegetables_grid">
            <div class="w3l_fresh_vegetables_grid1">
              <%= image_tag @info_small_3.image.url, alt: @info_small_3.title, class: 'img-responsive' %>
              <div class="mr_vegetables_grid1_bottom_pos">
                <%= @info_small_3.description.html_safe %>
              </div>
            </div>
            <div class="w3l_fresh_vegetables_grid1_bottom">
              <%= image_tag @info_small_4.image.url, alt: @info_small_4.title, class: 'img-responsive' %>
            </div>
          </div>
          <div class="clearfix"> </div>
          <div class="agileinfo_move_text">
            <%=@contents[6].description.html_safe%>
            <div class="agileinfo_breaking_news">
              <span> </span>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
<!-- //fresh-vegetables -->
<%=@sub%>
<!-- ==================
// // КОНТЕНТ СТРАНИЦЫ
!! ================== -->
