<% content_for :page_head do %>
      <section class="slider">
        <div class="flexslider">
          <ul class="slides">
            <% Slider.all.each_with_index do |slide,index| %>
            <li>
              <div class="w3l_banner_nav_right_banner<%= index==0?'':index%>" style="background:url(<%=slide.image.url%>) no-repeat 0px 0px;">
                <h3><%=slide.description.html_safe%></h3>
                <div class="more">
                  <% if slide.url != '' %>
                  <a href="<%=slide.url%>" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Перейти</a>
                  <% end unless slide.nil? %>
                </div>
              </div>
            </li>
            <%end%>
            <!--
            <li>
              <div class="w3l_banner_nav_right_banner2">
                <h3>upto <i>50%</i> off.</h3>
                <div class="more">
                  <a href="products.html" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Shop now</a>
                </div>
              </div>
            </li>
            -->
          </ul>
        </div>
      </section>
      <!-- flexSlider -->
        <script type="text/javascript">
        $(window).load(function(){
          $('.flexslider').flexslider({
          animation: "slide",
          start: function(slider){
            $('body').removeClass('loading');
          }
          });
        });
        </script>
      <!-- //flexSlider -->
<%end%>

<!-- ==================
- - - - КОНТЕНТ СТРАНИЦЫ
!! ================== -->
  <div class="banner_bottom">

      <div class="wthree_banner_bottom_left_grid_sub">
      </div>
      <div class="wthree_banner_bottom_left_grid_sub1">
        <div class="col-md-4 wthree_banner_bottom_left">
          <div class="wthree_banner_bottom_left_grid w3l_banner_nav_right_banner3_btml">
            <div class="view view-tenth">
              <img src="assets/24.jpg" alt=" " class="img-responsive">
              <div class="mask">
                <h4>Купить мясо для шашлыка</h4>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</p>
              </div>
            </div>
            <h4>Мясо для шашлыка</h4>
            <ol>
              <li>sunt in culpa qui officia</li>
              <li>commodo consequat</li>
              <li>sed do eiusmod tempor incididunt</li>
            </ol>
          </div>
        </div>
        <div class="col-md-4 wthree_banner_bottom_left">
          <div class="wthree_banner_bottom_left_grid w3l_banner_nav_right_banner3_btml">
            <div class="view view-tenth">
              <img src="assets/29.jpg" alt=" " class="img-responsive" />
              <div class="mask">
                <h4>Купить мясо для стейков</h4>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</p>
              </div>
            </div>
            <h4>Мясо для стейков</h4>
            <ol>
              <li>enim ipsam voluptatem officia</li>
              <li>tempora incidunt ut labore et</li>
              <li>vel eum iure reprehenderit</li>
            </ol>
          </div>
        </div>
        <div class="col-md-4 wthree_banner_bottom_left">
          <div class="wthree_banner_bottom_left_grid w3l_banner_nav_right_banner3_btml">
            <div class="view view-tenth">
              <img src="assets/30.jpg" alt=" " class="img-responsive" />
              <div class="mask">
                <h4>Купить мясные наборы</h4>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</p>
              </div>
            </div>
            <h4>Мясные наборы</h4>
            <ol>
              <li>dolorem eum fugiat voluptas</li>
              <li>ut aliquid ex ea commodi</li>
              <li>magnam aliquam quaerat</li>
            </ol>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
  </div>
<!-- top-brands -->
  <div class="top-brands">
    <div class="container">
      <h3>Витрина</h3>
      <% @groups.each  do |group|%>
      <% products = group.products %>
      <% unless products[0].nil? %>
      <div class="w3ls_w3l_banner_nav_right_grid1">
        <h6><%=group.title%></h6>
        <% products.each_with_index do |product,index|%>
        <% break if index >= @max_vitrina  %>
        <div class="col-md-3 w3ls_w3l_banner_left">
          <div class="hover14 column">
          <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
            <% if product.gift %>
              <div class="tag">
                <img src="assets/tag2.png" alt=" " class="img-responsive" />
              </div>
            <%end%>
            <% if product.special %>
            <div class="agile_top_brand_left_grid_pos">
              <img src="assets/offer2.png" alt=" " class="img-responsive" />
            </div>
            <%end%>
            <div class="agile_top_brand_left_grid1">
              <figure>
                <div class="snipcart-item block">
                  <div class="snipcart-thumb">
                    <a href="single.html"><%= image_tag product.image.url, :class => "img-responsive"  if product.respond_to? :image %></a>
                    <p><%=product.title%></p>
                    <h4><i class="fa fa-rub" aria-hidden="true"></i><%=product.price_new%> <% if product.special %><span><i class="fa fa-rub" aria-hidden="true"></i><%=product.price_old%></span><%end%></h4>
                  </div>
                  <div class="snipcart-details">
                    <!-- В корзину
                    <form action="#" method="post">
                      <fieldset>
                        <input type="hidden" name="cmd" value="_cart" />
                        <input type="hidden" name="add" value="1" />
                        <input type="hidden" name="business" value=" " />
                        <input type="hidden" name="item_name" value="knorr instant soup" />
                        <input type="hidden" name="amount" value="3.00" />
                        <input type="hidden" name="discount_amount" value="1.00" />
                        <input type="hidden" name="currency_code" value="USD" />
                        <input type="hidden" name="return" value=" " />
                        <input type="hidden" name="cancel_return" value=" " />
                        <input type="submit" name="submit" value="Add to cart" class="button" />
                      </fieldset>
                    </form>
                    -->
                    <input type="submit" name="submit" value="Заказать" class="button" />
                  </div>
                </div>
              </figure>
            </div>
          </div>
          </div>
        </div>
        <%end%>
        <div class="clearfix"> </div>
      </div>
      <%end%>
      <%end%>
    </div>
  </div>
<!-- //top-brands -->
<!-- fresh-vegetables -->
  <div class="fresh-vegetables">
    <div class="container">
      <h3>С нами удобно</h3>
      <div class="w3l_fresh_vegetables_grids">
        <!--
        <div class="col-md-3 w3l_fresh_vegetables_grid w3l_fresh_vegetables_grid_left">
          
          <div class="w3l_fresh_vegetables_grid2">
            <ul>
              <li><i class="fa fa-check" aria-hidden="true"></i><a href="products.html">All Brands</a></li>
              <li><i class="fa fa-check" aria-hidden="true"></i><a href="vegetables.html">Vegetables</a></li>
              <li><i class="fa fa-check" aria-hidden="true"></i><a href="vegetables.html">Fruits</a></li>
              <li><i class="fa fa-check" aria-hidden="true"></i><a href="drinks.html">Juices</a></li>
              <li><i class="fa fa-check" aria-hidden="true"></i><a href="pet.html">Pet Food</a></li>
              <li><i class="fa fa-check" aria-hidden="true"></i><a href="bread.html">Bread & Bakery</a></li>
              <li><i class="fa fa-check" aria-hidden="true"></i><a href="household.html">Cleaning</a></li>
              <li><i class="fa fa-check" aria-hidden="true"></i><a href="products.html">Spices</a></li>
              <li><i class="fa fa-check" aria-hidden="true"></i><a href="products.html">Dry Fruits</a></li>
              <li><i class="fa fa-check" aria-hidden="true"></i><a href="products.html">Dairy Products</a></li>
            </ul>
          </div>
        </div>
        -->
        <div class="col-md-12 w3l_fresh_vegetables_grid_right">
          <div class="col-md-4 w3l_fresh_vegetables_grid">
            <div class="w3l_fresh_vegetables_grid1">
              <img src="/assets/10000.jpg" alt=" " class="img-responsive" />
            </div>
          </div>
          <div class="col-md-4 w3l_fresh_vegetables_grid">
            <div class="w3l_fresh_vegetables_grid1">
              <div class="w3l_fresh_vegetables_grid1_rel">
                <img src="/assets/7.jpg" alt=" " class="img-responsive" />
                <div class="w3l_fresh_vegetables_grid1_rel_pos">
                  <div class="more m1">
                    <a href="products.html" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Shop now</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="w3l_fresh_vegetables_grid1_bottom">
              <img src="/assets/10.jpg" alt=" " class="img-responsive" />
              <div class="w3l_fresh_vegetables_grid1_bottom_pos">
                <h5>Специальные<br><small>от мясоежка</small> предложения</h5>
              </div>
            </div>
          </div>
          <div class="col-md-4 w3l_fresh_vegetables_grid">
            <div class="w3l_fresh_vegetables_grid1">
              <img src="/assets/dostavka_free.png" alt=" " class="img-responsive" />
            </div>
            <div class="w3l_fresh_vegetables_grid1_bottom">
              <img src="/assets/11.jpg" alt=" " class="img-responsive" />
            </div>
          </div>
          <div class="clearfix"> </div>
          <div class="agileinfo_move_text">
            <div class="agileinfo_marquee">
              <h4>get <span class="blink_me">25% off</span> on first order and also get gift voucher</h4>
            </div>
            <div class="agileinfo_breaking_news">
              <span> </span>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
<!-- //fresh-vegetables -->
<!-- newsletter -->
  <div class="newsletter">
    <div class="container">
      <div class="w3agile_newsletter_left">
        <h3>sign up for our newsletter</h3>
      </div>
      <div class="w3agile_newsletter_right">
        <form action="#" method="post">
          <input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
          <input type="submit" value="subscribe now">
        </form>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
<!-- //newsletter -->

<!-- ==================
// // КОНТЕНТ СТРАНИЦЫ
!! ================== -->
