
<!-- page_ident идет после header -->
<% content_for :page_ident do %>
  <!-- products-breadcrumb -->
  <div class="products-breadcrumb">
    <div class="container">
      <ul>
        <li><i class="fa fa-home" aria-hidden="true"></i><a href="/">На главную</a><span>|</span></li>
        <li>Сертификаты и документы</li>
      </ul>
    </div>
  </div><!-- //products-breadcrumb -->
<%end%><!-- //page_ident идет после header -->

<% content_for :page_head do %>
<!-- faq -->
    <div class="faq">
      <h3>Сертификаты и документы</h3>
      <div class="panel-group w3l_panel_group_faq" id="accordion" role="tablist" aria-multiselectable="true">
        <% Document.all.each_with_index do |document,index|%>
        <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading<%=index%>">
          <h4 class="panel-title asd">
          <a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=index%>" aria-expanded="true" aria-controls="collapse<%=index%>">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i><%=document.title%>
          </a>
          </h4>
        </div>
        <div id="collapse<%=index%>" <%== index==0 ? 'class="panel-collapse collapse in"' : 'class="panel-collapse collapse"' %> role="tabpanel" aria-labelledby="heading<%=index%>">
          <div class="panel-body panel_text">
          <%= image_tag document.image.url, alt: document.title, class: 'image-reponsive' if document.image_stored? %>
          <%= document.description.html_safe %>
          </div>
        </div>
        </div>
        <%end%>
      </div>
    </div>
<!-- //faq -->
<%end%>