
<!-- page_ident идет после header -->
<% content_for :page_ident do %>
  <!-- products-breadcrumb -->
  <div class="products-breadcrumb">
    <div class="container">
      <ul>
        <li><i class="fa fa-home" aria-hidden="true"></i><a href="index.html">На главную</a><span>|</span></li>
        <li>Спецпредложения</li>
      </ul>
    </div>
  </div><!-- //products-breadcrumb -->
<%end%><!-- //page_ident идет после header -->

<% content_for :page_head do %>
      <style type="text/css">
        .w3l_banner_nav_right_banner7{
          background:url(<%=@special_for_special.image.url%>) no-repeat 0px 0px;
          background-size:cover;
          -webkit-background-size:cover;
          -moz-background-size:cover;
          -o-background-size:cover;
          -ms-background-size:cover;
        }
      </style>

      <div class="w3l_banner_nav_right_banner7">
        <h3><%=@special_for_special.description.html_safe%><span class="blink_me"></span></h3>
      </div>
<% end %>
  <div class="banner special">
    <div class="w3l_banner_nav_left"></div>
    <div class="w3l_banner_nav_right">
<!-- events -->
    <div class="events">
      <h3>Спецпредложения</h3>
      <div class="events-bottom">
        <% count = 0; Special.all.sort_by(&:sort).each do |special| %>
        <%= count>=2? (count=0;'<div class="clearfix"></div></div><div class="events-bottom">'.html_safe) : (count+=1;'') %>
        <div class="col-md-6 events_bottom_left">
          <div class="col-md-4 events_bottom_left1">
            <div class="events_bottom_left1_grid">
              <div>oт</div>
              <h4><%=special.created_at.to_date.day%></h4>
              <p><%=Russian::strftime(special.created_at.to_date, "%B")%></p>
            </div>
          </div>
          <div class="col-md-8 events_bottom_left2"> 
            <%= image_tag special.image.url, alt: special.title, class: 'img-responsive' if special.image_stored? %>
            <h4><%=special.title.html_safe%></h4>
            <div class="alert alert-success" role="alert"><i class="fa fa-clock-o" aria-hidden="true"></i> Акция действует по <%=Russian::strftime(special.finish.to_date, "%d %B %Y")%></div>
            <p><%=special.description.html_safe%></p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <%end%>
        <div class="clearfix"> </div>
      </div>
    </div>
<!-- //events -->
    </div>
    <div class="clearfix"></div>
  </div>