
<!-- page_ident идет после header -->
<% content_for :page_ident do %>
  <!-- products-breadcrumb -->
  <div class="products-breadcrumb">
    <div class="container">
      <ul>
        <li><i class="fa fa-home" aria-hidden="true"></i><a href="index.html">На главную</a><span>|</span></li>
        <li><%=@about.title%></li>
      </ul>
    </div>
  </div><!-- //products-breadcrumb -->
<%end%><!-- //page_ident идет после header -->

<% content_for :page_head do %>
  <!-- about -->
  <div class="privacy about">
    <h3><%=@about.title%></h3>
    <%=@about.description.html_safe%>
  </div>
  <!-- //about -->
<% end %>

<!-- team -->
  <div class="team">
    <div class="container">
      <h3>Персонал «МЯСОЕЖКА» магазин мяса в Липецке</h3>
      <div class="agileits_team_grids">
        <%Team.all.each do |man|%>
        <div class="col-md-3 agileits_team_grid">
          <img src="<%=man.image.url%>" alt="<%=man.description%>" class="img-responsive" />
          <h4><%=man.title%></h4>
          <p><%=man.description%></p>
          <ul class="agileits_social_icons agileits_social_icons_team">
            <% man.slave.each_line do |social| %>
            <% ico,href,name = social.split(';') %>
            <li><a href="<%=href%>" class="<%=ico%>"><i class="fa fa-<%=ico%>" aria-hidden="true"></i></a></li>
            <%end%>
          </ul>
        </div>
        <%end%>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
<!-- //team -->
<!-- testimonials -->
  <div class="testimonials">
    <div class="container">
      <h3>Интересные факты</h3>
        <div class="w3_testimonials_grids">
          <div class="wmuSlider example1 animated wow slideInUp" data-wow-delay=".5s">
            <div class="wmuSliderWrapper">
              <% Fact.all.each do |fact| %>
              <article style="position: absolute; width: 100%; opacity: 0;"> 
                <div class="banner-wrap">
                  <div class="col-md-6 w3_testimonials_grid">
                  <%= fact.description.html_safe%>
                  </div>
                  <div class="col-md-6 w3_testimonials_grid">
                  <%= fact.slave.html_safe%>
                  </div>
                  <div class="clearfix"> </div>
                </div>
              </article>
              <% end %>
            </div>
          </div>
          <script src="js/jquery.wmuSlider.js"></script> 
          <script>
            $('.example1').wmuSlider();         
          </script> 
        </div>
    </div>
  </div>
<!-- //testimonials -->
<!-- newsletter -->
  <div class="newsletter">
    <div class="container">
      <div class="w3agile_newsletter_left">
        <h3>sign up for our newsletter</h3>
      </div>
      <div class="w3agile_newsletter_right">
        <form action="#" method="post">
          <input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
          <input type="submit" value="subscribe now">
        </form>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
<!-- //newsletter -->