<!DOCTYPE html>
<html>
<head>
  <title>Meat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- header -->
  <div class="agileits_header">
    <div class="w3l_offers">
      <a href="products.html">Today's special Offers !</a>
    </div>
    <!--
    <div class="w3l_search">
      <form action="#" method="post">
        <input type="text" name="Product" value="Search a product..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search a product...';}" required="">
        <input type="submit" value=" ">
      </form>
    </div>
    -->
    <!--
    <div class="product_list_header">  
      <form action="#" method="post" class="last">
                <fieldset>
                    <input type="hidden" name="cmd" value="_cart" />
                    <input type="hidden" name="display" value="1" />
                    <input type="submit" name="submit" value="View your cart" class="button" />
                </fieldset>
            </form>
    </div>
    -->
    <!--
    <div class="w3l_header_right">
      <ul>
        <li class="dropdown profile_details_drop">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i><span class="caret"></span></a>
          <div class="mega-dropdown-menu">
            <div class="w3ls_vegetables">
              <ul class="dropdown-menu drp-mnu">
                <li><a href="login.html">Login</a></li> 
                <li><a href="login.html">Sign Up</a></li>
              </ul>
            </div>                  
          </div>  
        </li>
      </ul>
    </div>
    -->
    <div class="mr_head row">
        <div class="col-md-4 col-sm-4 col-4"></div>
        <div class="col-md-4 col-sm-4 col-4 title-head">
            <p class="p-full-head"><i class="fa fa-truck" aria-hidden="true"></i> Интернет магазин доставки мяса фермеров в Липецке. Тел.906-005</p>
            <p class="p-1080-head"><i class="fa fa-truck" aria-hidden="true"></i> Доставка мяса - Липецк Тел.906-005</p>
        </div>
        <a href="/contacts" class="col-md-4 col-sm-4 col-4 title-head"></a>
    </div>
    <div class="w3l_header_right1">
      <h2><a href="/contacts">Свяжитесь с Нами!</a></h2>
    </div>
    <div class="clearfix"></div>
  </div>
<!-- script-for sticky-nav -->
  <script>
  $(document).ready(function() {
     var navoffeset=$(".agileits_header").offset().top;
     $(window).scroll(function(){
      var scrollpos=$(window).scrollTop(); 
      if(scrollpos >=navoffeset){
        $(".agileits_header").addClass("fixed");
      }else{
        $(".agileits_header").removeClass("fixed");
      }
     });
     
  });
  </script>
<!-- //script-for sticky-nav -->
  <div class="logo_products">
    <div class="container">
      <div class="w3ls_logo_products_left">
        <h1><a href="/"><span>Доставка</span><%= image_tag @contents[0].image.url, height: '50' %></a></h1>
      </div>
      <div class="w3ls_logo_products_left1">
        <ul class="special_items">
          <li><a href="events.html">Events</a><i>/</i></li>
          <li><a href="/about/index">О магазине</a><i>/</i></li>
          <li><a href="/specials">Спецпредложения</a><i>/</i></li>
          <li><a href="/service/index">Доставка</a></li>
        </ul>
      </div>
      <div class="w3ls_logo_products_left1">
        <ul class="phone_email">
          <li><i class="fa fa-phone" aria-hidden="true"></i><%=@phone%></li>
          <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:store@grocery.com"><%=@email%></a></li>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
<!-- //header -->
<%= yield :page_ident %>
<!-- banner -->
  <div class="banner">
    <!-- Боковое меню везде-->
    <div class="w3l_banner_nav_left">
      <nav class="navbar nav_bottom">
       <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header nav_2">
          <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
         </div> 
         <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
          <ul class="nav navbar-nav nav_1">
            <li><a href="products.html">Branded Foods</a></li>
            <li><a href="household.html">Households</a></li>
            <li class="dropdown mega-dropdown active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Veggies & Fruits<span class="caret"></span></a>        
              <div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
                <div class="w3ls_vegetables">
                  <ul>  
                    <li><a href="vegetables.html">Vegetables</a></li>
                    <li><a href="vegetables.html">Fruits</a></li>
                  </ul>
                </div>                  
              </div>        
            </li>
            <li><a href="kitchen.html">Kitchen</a></li>
            <li><a href="short-codes.html">Short Codes</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Beverages<span class="caret"></span></a>
              <div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
                <div class="w3ls_vegetables">
                  <ul>
                    <li><a href="drinks.html">Soft Drinks</a></li>
                    <li><a href="drinks.html">Juices</a></li>
                  </ul>
                </div>                  
              </div>  
            </li>
            <li><a href="pet.html">Pet Food</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Frozen Foods<span class="caret"></span></a>
              <div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
                <div class="w3ls_vegetables">
                  <ul>
                    <li><a href="frozen.html">Frozen Snacks</a></li>
                    <li><a href="frozen.html">Frozen Nonveg</a></li>
                  </ul>
                </div>                  
              </div>  
            </li>
            <li><a href="bread.html">Bread & Bakery</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
    </div>
    <!-- //Боковое меню везде-->
    <div class="w3l_banner_nav_right">
    <%= yield :page_head %>
    </div>
    <div class="clearfix"></div>
  </div>
<!-- banner -->

<%= yield %>
<%= render 'shared/footer'%>

<!-- Bootstrap Core JavaScript -->
<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
});
</script>
<!-- here stars scrolling icon -->
  <script type="text/javascript">
    $(document).ready(function() {
      /*
        var defaults = {
        containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
        };
      */
                
      $().UItoTop({ easingType: 'easeOutQuart' });
                
      });
  </script>
<!-- //here ends scrolling icon -->

<!-- На случай корзины скачать: https://github.com/jeffharrell/minicart -->
<script>
/*
  // Mini Cart
  paypal.minicart.render({
    action: '#'
  });

  if (~window.location.search.indexOf('reset=true')) {
    paypal.minicart.reset();
  }
*/
</script>

</body>
</html>
